<h1>Please fill out this form if you are interested in volunteering for Women's Directory</h1>

<%= form_for(@volunteer) do |form| %>

  <div>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name %>
    <%= form.text_area :last_name %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.text_area :email %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
