<h1>You have submitted the information below. Someone will be in contact with you shortly to start the process. Thank you!</h1></br>

<div>
    <p><%= @volunteer.first_name %></p>
    <p><%= @volunteer.last_name %></p>
    <p><%= @volunteer.email %></p>
    <p><%= @volunteer.phone %></p>
    <p>Hours to Volunteer per Week: <%= @volunteer.hours_per_week %></p>
</div>
