<label for="organization">
  <p class="has-text-weight-bold">
    Pick Your Organization
    <%= render partial: 'required' %>
  </p>
  <select id="organization" name="org[id]">
    <option value="" disabled <%= 'selected' unless @org.id %>>(no organization selected)</option>
    <% @orgs.each do |org| %>
      <option value="<%= org.id %>" <%= 'selected' if org.id == @org.id %>><%= org.name %></option>
    <% end %>
  </select>
</label>

<script>
  $(document).ready(() => $('select#organization').select2())
</script>

<style>
  .select2-container, select#organization {
    width: 100% !important;
  }
</style>
