<%= form_with url: create_submission_path, id: 'submission-form' do |f| %>
  <h1 class="is-size-3">
    Add Your Organization and Location
  </h1>
  <p class="mb-3">
    Fields marked with
    <%= render partial: 'required' %>
    are required.
  </p>
  <p class="mb-3">
    Note: Women's Directory is currently only active in Denver, CO. Please only submit locations in the Denver area. <a href="/areas">Learn more.</a>
  </p>
  <h1 class="is-size-3 mt-6">
    Your Organization
  </h1>
  <p class="mb-3">First, check to see if your organization already has a location on Women's Directory. Enter your organization's name into the <em>Search for Resources</em> box at the top of the page. If you don't see this box, click on the three bars at the top of the page to show it.</p>
  <p>Is this your first listing on the website?</p>
  <div>
    <label for="org_exist_true" class="is-block">
      <input type="radio" class="org-exists" id="org_exist_true" name="org_exist" value="true" <% if @org_exist %>checked <% end %> >
      My organization is already listed on Women's Directory, but this location is new
    </label>
    <label for="org_exist_false" class="is-block">
      <input type="radio" class="org-exists" id="org_exist_false" name="org_exist" value="false" <% unless @org_exist %>checked <% end %> >
      We are not yet on Women's Directory at all
    </label>
  </div>
  <div class="mt-3">
    <div id="org-exists-true-form">
      <%= render partial: "org_exist_form" %>
    </div>
    <div id="org-exists-false-form" class="is-hidden">
      <%= render partial: "org_dne_form" %>
    </div>
  </div>
  <%= render partial: 'loc_form' %>
  <h1 class="is-size-3 mt-6">
    Complete Your Submission
  </h1>
  <p>
    By submitting this form, you give us permission to list your organization and location on Women's Directory. If you want us to remove your location from Women's Directory, please <a href="/contact">contact us</a> and we will be happy to help. Thank you!
  </p>
  <%= f.submit 'Submit Form', class: 'button is-info mt-3', data: { confirm: 'Are you ready to complete this submission?' } %>
<% end %>
<script>
  function updateOrgForm() {
    if (document.querySelector('#org_exist_true').checked) {
      document.querySelector("#org-exists-true-form").classList.remove("is-hidden")
      document.querySelector("#org-exists-false-form").classList.add("is-hidden")
    } else {
      document.querySelector("#org-exists-true-form").classList.add("is-hidden")
      document.querySelector("#org-exists-false-form").classList.remove("is-hidden")
    }
  }

  document.querySelectorAll("input.org-exists").forEach(m => m.addEventListener("change", updateOrgForm))
  document.addEventListener("DOMContentLoaded", updateOrgForm);
</script>
