<h1 class="is-size-1"><%= @category.name %></h1>
<ul>
  <% @category.locations.each do |location| %>
    <li>
      <%= link_to location.name, show_location_path(location.id) %>
      <% if location.neighborhood %>
        (<%= location.neighborhood %>, <%= location.zip %>)
      <% else %>
        (<%= location.zip %>)
      <% end %>
    </li>
  <% end %>
</ul>
