<%= crumbs @category, nil %>

<h1 class="is-size-3"><%= @category.name %></h1>
<p class="mb-2"><%= @category.description %></p>
<ul>
  <% @category.locations.each do |location| %>
  <li>
    <%= link_to location.name, show_category_location_path(@category, location) %>
    <% if location.neighborhood %>
    (<%= location.neighborhood %>, <%= location.zip %>)
    <% else %>
    (<%= location.zip %>)
    <% end %>
  </li>
  <% end %>
</ul>