<%= crumbs @category, nil %>

<h1 class="is-size-3"><%= @category.name %></h1>
<p><%= markdown @category.description %></p>
<div class="mb-2"></div>
<ul>
  <% @category.locations.order(:name).each do |location| %>
  <li>
    <%= link_to location.name, show_category_location_path(@category, location) %>
    <% if location.neighborhood %>
    (<%= location.neighborhood %>, <%= location.zip %>)
    <% else %>
    (<%= location.zip %>)
    <% end %>
  </li>
  <% end %>
</ul>