<%= crumbs @category, nil %>
<%= admin_edit_button @category %>

<h1 class="is-size-3"><%= @category.name %></h1>
<p><%= markdown(@category.description || '') %></p>
<div class="mb-2"></div>

<%= map_tag @locations %>

<div class="mt-3 mb-3">
  Sort by:
  <% if @show_distance %>
  <span class="has-text-weight-bold">
    <%= link_to "Name", sort_by_name_path, method: :post, class: 'mx-2' %>
    <span class="mx-2">Distance</span>
  </span>
  <% else %>
  <span class="has-text-weight-bold">
    <span class="mx-2">Name</span>
    <%= link_to "Distance", sort_by_distance_path, method: :post, class: 'mx-2' %>
  </span>
  <% end %>
  <%= link_to "Change my location »", request_user_location_path, class: 'mx-2 is-italic' if user_coords %>
</div>

<ul class="mb-3">
  <% @locations.each do |location| %>
  <li>
    <%= link_to location.name, show_category_location_path(@category, location) %>
    <% if @show_distance %>
    (<%= location.distance.round 1 %> mi away)
    <% elsif location.neighborhood %>
    (<%= location.neighborhood %>, <%= location.zip %>)
    <% else %>
    (<%= location.zip %>)
    <% end %>
  </li>
  <% end %>
</ul>

<%= stylesheet_pack_tag 'map' %>
<%= javascript_pack_tag 'map' %>