<div class="autostyle mb-6">
  <h1>Pending User Submissions</h1>
  <div class="mb-3">
    <p>
      Items in this list have been submitted by users and are awaiting approval.
    </p>
    <p class="mb-3">
      Clear them from this list by doing one of the following:
      <ul>
        <li>rejecting the submission using the <strong>Reject</strong> button</li>
        <li><strong>editing</strong> each individual record in Admin, double-checking and correcting the data, and marking it <strong>visible</strong> to approve it</li>
      </ul>
    </p>
  </div>
</div>
<div class="autostyle has-text-centered">
  <p>Showing <%= @pagy.offset + 1 %>-<%= @pagy.offset + @pagy.items %> of <%= pluralize @sub_count, 'submission' %></p>
</div>
<div class="mb-6"><%== pagy_bulma_nav @pagy %></div>
<div class="autostyle mb-6">
  <% @subs.each do |sub| %>
    <div class="mb-4">
      <div class="mb-2">
        <p class="is-size-5">
          <a href="<%= Route.admin_show_path_for sub %>" target="_blank"><strong><%= time_ago_in_words sub.created_at %> ago</strong></a> by <%= sub.contact_email %>
        </p>
      </div>
      <div class="rounded-box">
        <% if sub.additional_notes.present? %>
          <p>Notes: <em><%= sub.additional_notes %></em></p>
        <% end %>
        <% sub.targets.each do |t| %>
          <div class="mb-1">
            <%= t.class.name %>: <strong><a href="<%= Route.admin_show_path_for t %>" target="_blank"><%= t.name %></a></strong>
            <% if t.respond_to?(:parent) %>
              <% p = t.parent %>
              <em>(belongs to <%= p.class.name %>: <strong><a href="<%= Route.admin_show_path_for p %>" target="_blank"><%= p.name %></a></strong>)</em>
            <% end %>
          </div>
          <div class="mb-2">
            <%= render 'shared/kv_table', kvs: slim_attributes(t, omit: %i[id name submission_id org_id created_at updated_at latitude longitude address1 address2 neighborhood city state zip]) %>
          </div>
          <div class="mb-3">
            <% if sub.can_confirm_now? t %>
              <a href="<%= Route.admin_edit_path_for t %>" target="_blank" class="button is-info"><i class="fa fa-pencil"></i>&nbsp;Edit in Admin</a>
            <% else %>
              <a class="button is-info" disabled><i class="fa fa-hourglass"></i>&nbsp;Depends on <%= sub.primary_target.class %>: <%= sub.primary_target.name %></a>
            <% end %>
          </div>
        <% end %>
        <a href="<%= admin_user_submissions_reject_form_path id: sub.id %>" class="button is-danger"><i class="fa fa-trash"></i>&nbsp;Reject Submission</a>
      </div>
    </div>
  <% end %>
</div>
<div><%== pagy_bulma_nav @pagy %></div>
