<h1 class="is-size-1"><%= @location.name %></h1>

<p class="mb-3"><%= @location.desc %></p>

<p class="mb-3">
  See <%= link_to "website", @location.website, target: "_blank" %> for current hours of operation.
</p>

<p class="mb-3">
  Organization: <%= link_to @location.org.name, show_org_path %>
  (<%= link_to "website", @location.org.website, target: "_blank" %>)
</p>

<p class="mb-3"><%= @location.org.desc %></p>
