<%= admin_edit_button @location %>

<%= crumbs @category, @location %>
<h1 class="is-size-3"><%= @location.name %></h1>

<div class="mobile-only">
  <%= render 'location' %>
  <%= render 'contact' %>
  <%= render 'description' %>
  <%= render 'serviceandorg' %>
</div>

<div class="desktop-only">
  <div class="columns">
    <div class="column">
      <%= render 'location' %>
      <%= render 'description'%>
    </div>
    <div class="column">
      <%= render 'contact' %>
      <%= render 'serviceandorg'%>
    </div>
  </div>
</div>
