<%= crumbs @category, @location %>

<h1 class="is-size-3"><%= @location.name %></h1>

<div class="columns mb-3">
  <div class="column">
    <%= markdown @location.desc %>
    <div class="mb-3"></div>

    <% if @location.address1 %>
    <div class="map-embed mb-2" data-latitude="<%= @location.latitude %>" data-longitude="<%= @location.longitude %>"></div>
    <div class="mb-3">
      <p><%= @location.neighborhood %></p>
      <p><%= @location.address1 %> <%= @location.address2 %></p>
      <p class="mb-2"><%= @location.city %>, <%= @location.state %> <%= @location.zip %></p>
      <p><a target="_blank" href="http://maps.apple.com/?q=<%= @location.full_address_with_name %>">Open in Apple Maps</a></p>
      <p><a target="_blank" href="http://maps.google.com/?q=<%= @location.full_address_with_name %>">Open in Google Maps</a></p>
    </div>
    <% else %>
    <p class="mb-2"><%= @location.city %>, <%= @location.state %></p>
    <% end %>

    <p>
      <span class="has-text-weight-bold">
        Organization: <%= link_to @location.org.name, show_org_path %>
      </span>
      (<%= link_to "website", @location.org.website, target: "_blank" %>)
    <p>
    <p><%= markdown @location.org.desc %></p>
  </div>
  <div class="column">
    <% if @location.phone_numbers.any? %>
    <div class="mb-1">
      <p class="has-text-weight-bold"><%= "Phone Number".pluralize @location.phone_numbers.count %></p>
      <% @location.phone_numbers.each do |n| %>
      <div class="mb-2">
        <% num = n.decorate %>
        <% if num.name %><p><%= num.name %>:</p><% end %>
        <p><a href="<%= num.uri %>"><%= num.pretty %></a></p>
        <p>
          <% if num.call? %><span class="pill"><a href="<%= num.tel_uri %>">Call</a></span><% end %>
          <% if num.sms? %><span class="pill"><a href="<%= num.sms_uri %>">Text</a></span><% end %>
          <% if num.always_open? %><span class="pill"><a href="<%= num.uri %>">24/7</a></span><% end %>
        </p>
      </div>
      <% end %>
    </div>
    <% end %>

    <% if @location.website %>
    <p class="has-text-weight-bold">Hours and More Info</p>
    <p class="mb-3">
      <%= link_to @location.website_without_protocol, @location.website, target: "_blank" %>
    </p>
    <% end %>
    <p class="has-text-weight-bold">Services Provided</p>
    <ul>
      <% @location.categories.each do |category| %>
      <li><%= link_to category.name, show_category_path(category) %></li>
      <% end %>
    </ul>
    </p>
  </div>
</div>

<%= stylesheet_pack_tag 'map' %>
<%= javascript_pack_tag 'map' %>