<!DOCTYPE html>
<html>

<head>
  <title>WomensDirectory</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_pack_tag 'application' %>
  <%= javascript_pack_tag 'application' %>
  <%= javascript_pack_tag 'feedback' %>
  <%= stylesheet_pack_tag 'feedback' %>
</head>

<body>
  <%= render 'navbar' %>
  <div class="container is-max-desktop mb-6">
    <% if flash[:notice] %>
    <div class="notification is-primary"><button class="delete"></button><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
    <div class="notification is-danger"><button class="delete"></button><%= flash[:alert] %></div>
    <% end %>

    <%= yield %>

    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const notis = document.querySelectorAll('.notification .delete') || []
        notis.forEach(del => {
          const noti = del.parentNode;
          del.addEventListener('click', () => {
            noti.parentNode.removeChild(noti);
          });
        });
      });
    </script>
  </div>
  <script type="text/plain" id="current-path"><%= request.path %></script>
</body>

</html>